{{ with .Site.GetPage "profile" }}
<section id="profile" class="section profile">
  <img class="profile-avatar" src="{{ .Params.avatar }}" alt="avatar" />
  <div class="profile-content">
    <h1 class="profile-name">{{ .Title }}</h1>
    <span>{{ .Params.Description }}</span>

    <ul class="profile-social">
      {{ range .Params.social }}
      <li class="profile-social-item">
        <i class="fab fa-{{ .icon }}"></i>
        <a href="{{ .url }}" target="_blank" rel="noopener noreferrer">
        {{ .name }}
        </a>
      </li>
      {{ end }}
    </ul>

    <ul class="profile-navigation">
      <li class="profile-navigation-item"><a href="/">Home</a></li>
      <li class="profile-navigation-item"><a href="/posts">Activity</a></li>
      <li class="profile-navigation-item"><a href="/tags">Tag</a></li>
    </ul>
  </div>
</section>
{{ end }}
