.section {
    a {
        color: inherit;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    h2 {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0;
        margin-top: 2rem;

        &::before {
            content: 'â–';
            margin: 0 0.5rem;
        }
    }

    p {
        padding: 0.5rem 2rem;
    }

    &-content {
        padding: 0 2rem;
        & > .card {
            border-bottom: 1px solid #ddd;

            p {
                padding: 0;
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }
}
