.section {
    margin-bottom: 2rem;

    a {
        color: inherit;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    h2 {
        font-size: 1.75rem;
        font-weight: bold;
        margin: 0;

        &::before {
            content: '❖';
            margin: 0 0.5rem;
        }
    }

    &-content {
        padding: 0.5rem 1rem;

        & > .card {
            border-bottom: 1px solid #ddd;

            &:last-child {
                border-bottom: none;
            }
        }
    }
}
