@import './components/card/general.scss';
@import './components/section/general.scss';
@import './components/section/profile.scss';
@import './pages/single.scss';

body {
    font-family: sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

main {
    color: #222;
    margin: 1rem auto;
    max-width: 768px;
}

p {
    margin: 0.5rem 0;
    font-family: serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: sans-serif;
    margin: 1.5rem 0 0.5rem 0;
}

header {
    border-bottom: 1px solid #222;
    margin-bottom: 1rem;
}

footer {
    border-top: 1px solid #222;
    margin-top: 1rem;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.container {
    max-width: 768px;
    padding: 0 1rem;
}
