$article-card-tag-color: #007bff;
$article-card-date-color: #6c757d;

.article-card {
    padding: 0.7rem 1rem;

    h2 {
        font-size: 1.25rem;
        margin: 0;
    }

    div {
        margin: 0;
    }

    &-header {
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 0.5rem;
    }

    &-tag {
        border: 1px solid $article-card-tag-color;
        border-radius: 0.25rem;
        color: $article-card-tag-color;
        font-size: 0.8rem;
        padding: 0 0.5rem;

        &::before {
            content: '#';
        }
    }

    &-date {
        display: inline-block;
        color: $article-card-date-color;
        font-size: 0.9rem;
    }
}
